<div class="inhaltsverzeichnis">
  <ul>
    <li class="i1"><a href="#1">1. Einführung</a></li>
    <li class="i1"><a href="#2">2. Grundlagen der Rechnungslegung: möglichst zuverlässige Beurteilung der Vermögens- und Ertragslage</a></li>
    <li class="i2"><a href="#2.1">1. Grundlagen</a></li>
    <li class="i2"><a href="#2.2">2. Die Zielsetzungen der Rechnungslegung im Einzelnen</a></li>
    <li class="i3"><a href="#2.2.1">a) Kapitalerhaltung</a></li>
    <li class="i3"><a href="#2.2.2">b) Rechenschaftsablegung</a></li>
    <li class="i3"><a href="#2.2.3">c) Führungsinstrument und Entscheidungsgrundlage für Management und Verwaltungsrat</a></li>
    <li class="i3"><a href="#2.2.4">d) Schutz des Kapitalmarkts und Anknüpfung für das Steuerrecht</a></li>
    <li class="i1"><a href="#3">3. Rechnungslegungsvorschriften: Obligationenrecht und anerkannte Standards der Rechnungslegung, Unterschiede und Gemeinsamkeiten</a></li>
    <li class="i2"><a href="#3.1">1. Handelsrechtliche Rechnungslegungsvorschriften (Vorschriften des Obligationenrechts</a></li>
    <li class="i3"><a href="#3.1.1">a) Grundlagen, neues Rechnungslegungsrecht</a></li>
    <li class="i3"><a href="#3.1.2">b) Die Grundsätze ordnungsmässiger Rechnungslegung</a></li>
    <li class="i2"><a href="#3.2">2. Anerkannte Standards der Rechnungslegung</a></li>
    <li class="i3"><a href="#3.2.1">a) Grundlagen</a></li>
    <li class="i3"><a href="#3.2.2">b) Swiss GAAP FER</a></li>
    <li class="i3"><a href="#3.2.3">c) IFRS</a></li>
    <li class="i4"><a href="#3.2.3.1">aa) Grundlagen</a></li>
    <li class="i3"><a href="#3.3.2">b) Unterschiede</a></li>
    <li class="i4"><a href="#3.3.2.1">aa) transparenzbezogene Unterschiede</a></li>
    <li class="i4"><a href="#3.3.2.2">bb) vorsichtsbezogene Unterschiede</a></li>
    <li class="i4"><a href="#3.3.2.3">cc) Gegenüber den IFRS unvorsichtigere Regeln des handelsrechtlichen Rechnungslegungsrechts</a></li>
    <li class="i1"><a href="#4">4. Eignung der Rechnungslegungsvorschriften als Grundlage für Führungsentscheide im Unternehmen ?</a></li>
    <li class="i2"><a href="#4.1">1. Grundlagen</a></li>
    <li class="i2"><a href="#4.2">2. Bezug zwischen der Buchhaltung, Finanzkontrolle und Rechnungslegung</a></li>
    <li class="i2"><a href="#4.3">3. Rechnungslegung nach OR</a></li>
    <li class="i2"><a href="#4.4">4. Rechnungslegung nach IFRS</a></li>
    <li class="i1"><a href="#5">5. Stand der eigenen Forschung</a></li>
    <li class="i1"><a href="#6">6. Übersicht über die Teilprojekte</a></li>
    <li class="i1"><a href="#7">7. Einfluss der IFRS auf die handelsrechtlichen Rechnungslegungsvorschriften</a></li>
    <li class="i2"><a href="#7.1">1. Fragestellung</a></li>
    <li class="i2"><a href="#7.2">2. Bestehende Forschung</a></li>
    <li class="i2"><a href="#7.3">3. Methode;</a></li>
    <li class="i2"><a href="#7.4">4. Dissertation: Einfluss der IFRS auf die handelsrechtlichen Rechnungslegungsvorschriften</a></li>
    <li class="i1"><a href="#8">8. Rechnungslegung nach IFRS, „Dual Standard Rechnungslegung“</a></li>
    <li class="i2"><a href="#8.1">1. Grundlagen</a></li>
    <li class="i2"><a href="#8.2">2. Bestehende Forschung</a></li>
    <li class="i2"><a href="#8.3">3. Methode; </a></li>
    <li class="i2"><a href="#8.4">4. Dissertation: Rechnungslegung nach IFRS, „Dual Standard Rechnungslegung“</a></li>
    <li class="i1"><a href="#9">9. Einfluss der IFRS auf die finanziellen Führungspflichten des Verwaltungsrats</a></li>
    <li class="i2"><a href="#9.1">1. Grundlagen</a></li>
    <li class="i2"><a href="#9.2">2. Bestehende Forschung</a></li>
    <li class="i2"><a href="#9.3">3. Methode</a></li>
    <li class="i2"><a href="#9.4">4. Dissertation: Einfluss der IFRS auf die finanziellen Führungspflichten des Verwaltungsrats</a></li>
    <li class="ii"><a href="#10">10. Zusammenarbeit unter den Dissertanten und mit den Kooperationspartnern</a></li>
    <li class="ii"><a href="#11">11. Wissenschaftliche Bedeutsamkeit der Forschungsarbeit</a></li>
    <li class="ii"><a href="#12">12. Ausserwissenschaftliche (praktische) Bedeutsamkeit</a></li>
    <li class="ii"><a href="#13">13. In diesem Text zitierte Literatur</a></li>
    <li class="ii"><a href="#14">In diesem Text zitierte Materialien</a></li>
  </ul>
</div>