<h2 id="14">In diesem Text zitierte Materialien<h2>
<p><i>Botschaft:</i> Botschaft des Bundesrates zur Änderung des Obligationenrechts (Aktienrecht und Rechnungslegungsrecht sowie Anpassungen im Recht der Kollektiv- und der Kommanditgesellschaft, im GmbH-Recht, Genossenschafts-, Handelsregister- sowie Firmenrecht) mit Entwurf vom 21. Dezember 2007, BBl 2008, S. 1589-1750<p>
<p><i>EG-Verordnung 1606/2002:</i> Verordnung Nr. 1606/2002 des europäischen Parlaments und des Rates vom 19. Juli 2002 betreffend die Anwendung internationaler Rechnungslegungsstandards, abrufbar unter http://tiny.cc/kfw9cw (besucht am 24.09.2013)</p>
<p><i>HWP:</i>Schweizer Handbuch der Wirtschaftsprüfung, Kommission für Wirtschaftsprüfung der Treuhand-kammer (Hrsg.), 3. Auflage, Zürich 2014</p>
<p>IFRS: International Financial Reporting Standards, International Accounting Standards Board (IASB) (Hrsg.), London 2011</p>
<p>ISA: International Standards on Auditing, International Auditing and Assurance Standards Board (IAASB) (Hrsg.), New York 2011</p>
<p>PS: Schweizer Prüfungsstandards, Treuhand-Kammer, Schweizerische Kammer der Wirtschaftsprüfer, Steuerexperten und Treuhandexperten (Hrsg.), Zürich 2010</p>
<p>Swiss GAAP FER: Fachempfehlungen zur Rechnungslegung, Fachkommission für Empfehlungen zur Rechnungslegung (FER) (Hrsg.), Zürich 2010</p>
<p>Wiley Regulatory Reporting, The Handbook to IFRS Transition and to IFRS U.S. GAAP Dual Reporting, Chichester UK 2012</p>