<h2 id="13">13. In diesem Text zitierte Literatur</h2>
<p>ARQUINT NINA: Bilanzrecht für Lebensversicherungsunternehmen, Diss. Bern/Zürich 2010 (zit. ARQUINT)<p>
<p>BALLWIESER WOLFGANG: Rechnungslegung im Umbruch, Entwicklungen, Ziele, Missverständnisse, ST 76 (2002), S. 295-304 (zit. BALLWIESER)</p>
<p>BAUEN MARC/BERNET ROBERT: Schweizer Aktiengesellschaft: Aktienrecht, Fusionsrecht, Börsenrecht, Steuerrecht, Zürich 2007 (zit. BAUEN/BERNET)</p>
<p>BAUEN MARC/VENTURI SILVIO: Der Verwaltungsrat, Organisation, Kompetenzen, Verantwortlichkeit, Corporate Governance, Zürich 2007 (zit. BAUEN/VENTURI)</p>
<p>BEHR GIORGIO: Funktion und Grenzen der Rechnungslegung als Instrument der wirtschaftlichen Steuerung, ZSR 119 (2000) 2. Halbband, S. 5-38 (zit. BEHR)</p>
<p>BEHR GIORGIO: 25 Jahre FER – Entwicklung der Rechnungslegung in 4 Phasen, ST 84 (2010), S. 24-26 (zit. BEHR, 25 Jahre FER)</p>
<p>BEHR GIORGIO/LEIBFRIED PETER: Rechnungslegung, 3. Auflage, Zürich 2011 (zit. BEHR/LEIBFRIED)</p>
<p>BLASE, STEFFEN/MÜLLER, STEFAN/REINKE, JENS, Fortschritt in der Harmonisierung von internen und externen Rechnungswesen durch den management approach des IFRS 8, in: Zeitschrift für internationale und kapitalmarktorientierte Rechnungslegung (KoR), 7-8/2012, S. 352-359</p>
<p>BÖCKLI PETER: Schweizer Aktienrecht, Mit Fusionsgesetz, Börsengesellschaftsrecht, Konzernrecht, Corporate Governance, Recht der Revisionsstelle und der Abschlussprüfung in neuer Fassung unter Berücksichtigung der angelaufenen Revision des Aktien- und Rechnungslegungsrechts, 4. Auflage, Zürich 2009 (zit. BÖCKLI, Aktienrecht)</p>
<p>BÖCKLI PETER: Der bilanzbezogene Eigenkapitalschutz, Eigenkapitaltest und Solvenztest im kritischen Vergleich, SZW 81 (2009), S. 1-25 (zit. BÖCKLI, Eigenkapitalschutz)</p>
<p>BÖCKLI PETER: Einführung in die IFRS/IAS, International Financial Reporting Standards – knapp und deutsch, 2. Auflage, Zürich 2005 (zit. BÖCKLI, IFRS/IAS)</p>
<p>BÖCKLI PETER: Das neue OR-Rechnungslegungsrecht, Die Fassung des Ständerats unter der kritischen Lupe, ST 84 (2010), S. 160-174 (zit. BÖCKLI, OR-Rechnungslegungsrecht)</p>
<p>BÖCKLI PETER: Zum Vorentwurf für eine Revision des Aktien- und Rechnungslegungsrechts, GesKR 1/2006, S. 4-28 (zit. BÖCKLI, Vorentwurf)</p>
<p>BOECKER, CORINNA/FROSCHHAMMER, MATTHIAS, Harmonisierung statt Standardisierung, Zunehmende Konvergenz der Regelungen des HGB mit den IFRS, Zeitschrift für Internationale Rechnungslegung (IRZ), 7/8/2010, S. 305-307</p>
<p>BOEMLE MAX/LUTZ RALF: Der Jahresabschluss, Bilanz, Erfolgsrechnung, Geldflussrechnung, Anhang, 5. Auflage, Zürich 2008 (zit. BOEMLE/LUTZ)</p>
<p>BRÜLISAUER PETER/POLTERA FLURIN: in: Zweifel Martin/Athanas Peter (Hrsg.), Kommentar zum Schweizerischen Steuerrecht, Band I/2a, Bundesgesetz über die direkte Bundessteuer (DBG), Art. 1-82, 2. Auflage, Basel 2008 (zit. Kommentar zum Schweizerischen Steuerrecht-BRÜLISAUER/POLTERA)</p>
<p>BUDDE WOLFGANG DIETER: Rechnungslegung im Spannungsfeld des Grundgesetzes, in: Ballwieser Wolfgang/Böcking Hans-Joachim/Drukarczyk Jochen/Schmidt Reinhard H. (Hrsg.), Bilanzrecht und Kapitalmarkt, Festschrift zum 65. Geburtstag von Professor Dr. Dr. h.c. Dr. h.c. Adolf Moxter, Düsseldorf 1994, S. 33-60 (zit. BUDDE)</p>
<p>CHAPUIS CÉDRIC: in: Kren Kostkiewicz Jolanta/Nobel Peter/Schwander Ivo/Wolf Stephan (Hrsg.), Kommentar zum OR, Schweizerisches Obligationenrecht, 2. Aufl., Zürich 2009 (zit. OR Handkommentar-CHAPUIS)</p>
<p>COENENBERG ADOLF G./HALLER AXEL/SCHULTZE WOLFGANG: Jahresabschluss und Jahresabschlussanalyse, betriebswirtschaftliche, handelsrechtliche, steuerrechtliche und internationale Grundsätze, HGB, IFRS, US-GAAP, 22. Auflage, Stuttgart 2009 (zit. COENENBERG/HALLER/SCHULTZE)</p>
<p>DAVIS PAUL L./WORTHINGTON SARAH/MICHELER EVA: Gower and Davies’ Principles of Modern Company Law, 8. Auflage, London 2008 (zit. DAVIES/WORTHINGTON/MICHELER)</p>
<p> JEAN NICOLAS: Gesellschafts- und Handelsrecht, 10. Auflage, Zürich 2010 (zit. DRUEY)
FORSTMOSER PETER/MEIER-HAYOZ ARTHUR/NOBEL PETER: Schweizerisches Aktienrecht, Bern 1996 (zit. FORSTMOSER/MEIER-HAYOZ/NOBEL)</p>
<p>FROSCHHAMMER, MATTHIAS/HALLER, ALEX, IFRS-Konvergenz im Rahmen der BilMoG-Erstanwendung, in: Zeitschrift für internationale und kapitalmarktorientierte Rechnungslegung (KoR), 1/2012, S. 17-25</p>
<p>GIGLER, F.; C. KANODIA; H. SAPRA; AND R. VENUGOPALAN. „Accounting Conservatism and the Efficiency of Debt Contracts.“ Journal of Accounting Research, 47 (2009): 767-797</p>
<p>GROSSMANN SANFORD J./HART OLIVER D.: An Analysis of the Principal-Agent Problem, Econometrica 51 (1938), S. 7-46 (zit. GROSSMANN/HART)</p>
<p>GRÜNBERGER DAVID: IFRS 2012, Ein systematischer Praxisleitfaden, 10. Auflage, Herne 2012 (zit. GRÜNBERGER)</p>
<p>GURTNER PETER: Neues Rechnungslegungsrecht nach OR, Eine kritische Beurteilung aus steuerrechtlicher Sicht, ST 84 (2010), S. 385-398 (zit. GURTNER)</p>
<p>HANDSCHIN LUKAS: Eigenkapitalvorschriften – nur für Banken?, Einige Überlegungen zu Verantwortlichkeit, Risikofähigkeit und Eigenkapital, GesKR 2010, S. 516-519 (zit. HANDSCHIN, Eigenkapitalvorschriften)</p>
<p>HANDSCHIN LUKAS: Das Eigenkapital als Risikoreserve, in: Kunz Peter V./Herren Dorothea/Cottier Thomas/Matteotti René (Hrsg.), Wirtschaftsrecht in Theorie und Praxis, Festschrift für Roland von Büren, Basel 2009, S. 69-83 (zit. HANDSCHIN, Risikoreserve)</p>
<p>HANDSCHIN LUKAS: Rechnungslegung im Gesellschaftsrecht, Basel 2013 (zit. HANDSCHIN, Rechnungslegung)</p>
<p>HANDSCHIN LUKAS: Rechnungslegungs- und Revisionsrecht in a nutshell, Zürich 2013 (zit. HANDSCHIN, Nutshell)</p>
<p>HANDSCHIN LUKAS: Verantwortlichkeit der Gesellschaftsorgane auch für die Richtigkeit der Bilanz, in: Niggli Marcel Alexander/Amstutz Marc (Hrsg.), Verantwortlichkeit im Unternehmen, Basel 2007, S. 31-43 (zit. HANDSCHIN, Haftung)</p>
<p>HARING, NIKOLAI/PRANTNER, RENATE, Konvergenz des Rechnungswesens. State-of-the-Art in Deutschland und Österreich, in: Controlling - Zeitschrift für erfolgsorientierte Unternehmensführung, Heft 3/2005, S. 147-154</p>
<p>HENO RUDOLF: Jahresabschluss nach Handelsrecht, Steuerrecht und internationalen Standards (IFRS), 7. Auflage, Heidelberg 2011</p>
<p>KÄFER KARL: Kommentar zum Schweizerischen Zivilgesetzbuch, Band VIII/2/2, Das Obligationenrecht, Die kaufmännische Buchführung, Artikel 958-946 OR, Bern 1981 (zit. BK II-KÄFER)</p>
<p>KLEIBOLD THORSTEN: Ausschüttungsregulierung und Insolvenzmessung; Mögliche Friktionen einer Übernahme der Swiss GAAP FER in das Schweizerische Aktienrecht, Zürich 2012 (zit. KLEIBOLD)</p>
<p>KRNETA GEORG: Praxiskommentar Verwaltungsrat, Art. 707-726, 754 OR und Spezialgesetze, Ein Handbuch für Verwaltungsräte, 2. Auflage, Bern 2005 (zit. KRNETA)</p>
<p>KÜTING, KARLHEINZ/LAUER, PETER, Die Jahresabschlusszwecke nach HGB und IFRS - Polarität oder Konvergenz?, in: Der Betrieb 2011, S. 1985-1991</p>
<p>LOCHER PETER: Kommentar zum DBG, Bundesgesetz über die direkte Bundessteuer, II. Teil, Art. 49-101 DBG, Besteuerung der juristischen Personen, Quellensteuer für natürliche und juristische Personen, Basel 2004 (zit. DBG Kommentar-LOCHER)</p>
<p>MEIER-HAYOZ ARTHUR/FORSTMOSER PETER: Schweizerisches Gesellschaftsrecht, 11. Auflage, Bern 2012 (zit. MEIER-HAYOZ/FORSTMOSER)</p>
<p>MEYER CONRAD: Betriebswirtschaftliches Rechnungswesen, Einführung in Wesen, Technik und Bedeutung des modernen Management Accounting, 3. Auflage, Zürich 2012 (zit. MEYER, Betriebswirtschaftliches Rechnungswesen)</p>
<p>MEYER CONRAD: Finanzielles Rechnungswesen, Einführung mit Beispielen und Aufgaben, Zürich 2008 (zit. MEYER, Finanzielles Rechnungswesen)</p>
<p>MÜLLER ROLAND/LIPP LORENZ/PLÜSS ADRIAN: Der Verwaltungsrat, Ein Handbuch für die Praxis, 3. Auflage, Zürich 2007 (zit. MÜLLER/LIPP/PLÜSS)</p>
<p>NEUHAUS MARKUS R./BLÄTTLER JÖRG: in: Honsell Heinrich/Vogt Nedim Peter/Watter Rolf (Hrsg.), Basler Kommentar Obligationenrecht II, Art. 530-964 OR, Art. 1-6 SchlT AG, Art. 1-11 Übest GmbH, 4. Auflage, Basel 2012 (zit. BSK OR II-NEUHAUS/BLÄTTLER)</p>
<p>NEUHAUS MARKUS R./SCHÄRER CHRISTOPH: in: Honsell Heinrich/Vogt Nedim Peter/Watter Rolf (Hrsg.), Basler Kommentar Obligationenrecht II, Art. 530-964 OR, Art. 1-6 SchlT AG, Art. 1-11 Übest GmbH, 4. Auflage, Basel 2012 (zit. BSK OR II-NEUHAUS/SCHÄRER)</p>
<p>NÖSBERGER THOMAS A.: Wesentlichkeit als Grundsatz ordnungsmässiger Rechnungslegung im schweizerischen Aktienrecht, Diss. Freiburg 1998, Zürich 1999 (zit. NÖSBERGER)</p>
<p>OESTERHELT STEFAN/GRÜNINGER HAROLD: Steuerrechtliche Entwicklungen (insbesondere im Jahr 2009), SZW 82 (2010), S. 37-58 (zit. OESTERHELT/GRÜNINGER)</p>
<p>PIERK, JOCHEN/WEIL, MATTHIAS, Konvergenz von IFRS und HGB am Beispiel der Pensionsrückstellungen kapitalmarktorientierter Unternehmen. in: Zeitschrift für internationale und kapitalmarktorientierte Rechnungslegung (KoR) 11/2012, S. 516-521</p>
<p>PIETH MARC: Anti-Korruptions-Compliance, Zürich 2011 (zit. PIETH)</p>
<p>PLÜSS ADRIAN/FACINCANI-KUNZ DOMINIQUE/KÜNZLI ASTRID: in: Roberto Vito/ Trüeb Hans Rudolf (Hrsg.), Handkommentar zum Schweizer Privatrecht, Personengesellschaften und Aktiengesellschaft, 2. Auflage, Zürich 2012 (zit. CHK-PLÜSS/FACINCANI-KUNZ/KÜNZLI)</p>
<p>SCHELLENBERG ALDO C.: Rechnungswesen, Grundlagen, Zusammenhänge, Interpretationen, 4. Auflage, Zürich 2010 (zit. SCHELLENBERG)</p>
<p>SIMONS, DIRK/WEISSENBERGER, BARBARA E., Die Konvergenz von internem und externem Rechnungswesen – Kritische Faktoren für die Entwicklung einer partiell integrierten Rechnungslegung aus theoretischer Sicht, in: Betriebswirtschaftliche Forschung und Praxis (BFuP), 60. Jg., 2008, S. 137-162</p>
<p>STOFFEL WALTER A.: in: von Büren Roland/Stoffel Walter A./Weber Rolf H. (Hrsg.), Grundriss des Aktienrechts, 3. Auflage, Zürich 2011 (zit. STOFFEL, Grundriss des Aktienrechts)</p>
<p>TEITLER-FEINBERG EVELYN: Rechnungslegung als Führungsinstrument und Grundlage für die Kreditgewährung, ST 81 (2007), S. 152-157 (zit. TEITLER-FEINBERG)</p>
<p>TRUFFER ROLAND/DUBS DIETER: in: Honsell Heinrich/Vogt Nedim Peter/Watter Rolf (Hrsg.), Basler Kommentar Obligationenrecht II, Art. 530-964 OR, Art. 1-6 SchlT AG, Art. 1-11 Übest GmbH, 4. Auflage, Basel 2012 (zit. BSK OR II-TRUFFER/DUBS)</p>
<p>WATTER ROLF/ROTH PELLANDA KATJA: in: Honsell Heinrich/Vogt Nedim Peter/Watter Rolf (Hrsg.), Basler Kommentar Obligationenrecht II, Art. 530-964 OR, Art. 1-6 SchlT AG, Art. 1-11 Übest GmbH, 4. Auflage, Basel 2012 (zit. BSK OR II-WATTER/ROTH PELLANDA)</p>
<p>WATTS, R. L. „Conservatism in Accounting Part I: Explanations and Implications.“ Accounting Horizons, 17 (2003): 207-221</p>
<p>WEBER, JÜRGEN/SCHÄFFER, UTZ, Einführung in das Controlling, 13. Aufl., Stuttgart 2011 (zit. WEBER/SCHÄFFER)</p>
<p>WEBER ROLF H.: in: Honsell Heinrich/Vogt Nedim Peter/Wiegand Wolfgang (Hrsg.), Basler Kommentar Obligationenrecht I, Art. 1-529, 5. Aufl., Basel 2011 (zit. BSK OR I-WEBER)</p>
<p>WEBER ROLF H.: in: von Büren Roland/Stoffel Walter A./Weber Rolf H. (Hrsg.), Grundriss des Aktienrechts, 3. Auflage, Zürich 2011 (zit. WEBER, Grundriss des Aktienrechts)</p>
<p>ZEMP RETO/PLOZZA HANSPETER: Das neue Handbuch der Wirtschaftsprüfung 2009 ist erschienen!, Standardwerk für die Lehre und die praktische Arbeit, ST 84 (2010), S. 8-12 (zit. ZEMP/PLOZZA)</p>