<nav class="navbar navbar-inverse">
  <h2 style="color:white;float: left;">Juraprojekt<h2>
  <ul class="nav  nav-pills" >
    <li style="float:right;margin-right:20px;"><a class="btn btn-primary" href="#1" role="button" style="float:right;">Zum Start</a></li>
  </ul>
  
</nav>